<div class="ui two column grid" *ngIf="photo">
  <div class="two wide column">

  </div>
  <div class="twelve wide column">
    <div class="ui grid center">
      <div class="ten wide column">
        <img src="resources/static/pic/sample1.jpg"
             class="ui image big"/>
      </div>
      <div class="left floated left aligned six wide column">
        <strong>Photo Title</strong>:{{photo.title}}<br>
        <div class="ui clearing divider"></div>
        Photo Description:{{photo.description}}
      </div>
    </div>
  </div>
  <div class="two wide column">

  </div>

  <div class="two wide column">

  </div>
  <!-- comment goes here -->
  <div class="twelve wide column">
    <div class="ui grid center">
      <div class="fourteen wide column">
        <div class="ui comments">
          <h3 class="ui dividing header">Comments</h3>
          <div class="comment"  *ngFor="let comment of photo.commentList">
            <a class="avatar">
              <img src="/resources/static/pic/avatar1.png">
            </a>
            <div class="content">
              <a class="author">{{comment.userName}}</a>
              <div class="metadata">
                <span class="date">Today at 5:42PM</span>
              </div>
              <div class="text">
                {{comment.content}}
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>
          <form class="ui reply form">
            <div class="field">
              <textarea></textarea>
            </div>
            <div class="ui blue labeled submit icon button">
              <i class="icon edit"></i> Add Reply
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="two wide column">

  </div>
</div>
