<div class="photo-list">
  <div class="ui grid">
    <div class="two wide column">

    </div>

    <div class="fourteen wide column">
      <div class="ui raised segment" *ngFor="let photo of photos">
        <a [routerLink]="['/Photo',photo.photoId]"><img src="http://localhost:8080/images/{{photo.imageName}}.jpg"
                                                        class="ui image centered big" style="cursor: pointer"/>
          <div class="photoModule">
            <div class="ui center aligned grid">
              <div class="twelve wide column">
                <div class="ui grid">
                  <div class="four column row">
                    <div class="left floated ten wide column left aligned">
                      <strong>Photo Title</strong>:{{photo.title}}<br>
                      Photo Description:{{photo.description}}
                    </div>

                    <div class="right floated column right aligned">
                      {{photo.likes}} &nbsp; Likes
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


